<!DOCTYPE html>
  <html>
    <head></head>
    <body>
      <h1>Your logged activities</h1>
      <table style="width: 300px">
          <thead>
              <tr>
                <th>time</th>
                <th>duration</th>
                <th>activity</th>
              </tr>
          </thead>
          <tbody>
            <tr>
                <td>09:00</td>
                <td>00:20</td>
                <td>welcome</td>
            </tr>
          </tbody>
      </table>
    </body>
  </html>